{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block content %}
    <div class="card mb-4 w-50 m-auto">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Add Money To your Wallet</h6>
            <span class="text-success "><i class="fas fa-plus-circle"></i></span>

        </div>

        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.label == 'Date expected' %}
                        <div class="form-group" id="simple-date1">
                            <label for="simpleDataInput">Simple Data Input</label>
                            <div class="input-group date">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                </div>
                                <input type="text" name="date_expected" class="form-control" value="2022-05-01"
                                       id='id_date_expected simpleDataInput' required="">
                            </div>
                        </div>
                    {% else %}
                        <div class="form-group">

                            <label for="">{{ field.label }}</label>
                            {#Display all errors#}
                            {% for error in field.errors %}
                                <span class="float-right badge badge-danger">{{ error|escape }}</span>
                            {% endfor %}

                            {{ field }}
                        </div>
                    {% endif %}
                {% endfor %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>


    </div>
    <div class="card-body">
    <div class="row">
        <div class="col col-xl-3 col-md-6">
            <!-- All Transactions  -->
            <div class=" mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-uppercase mb-1">All TopUps
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    Frw {{ transactions.sum|floatformat:0|intcomma }}</div>
                                <div class="mt-2 mb-0 text-muted text-xs">
                                <span class="text-danger mr-2">Total of ( {{ transactions.count }} )</span>
                                    <span>Top Ups </span>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-wallet  fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Total of all earnings -->
            <div class=" mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-uppercase mb-1">Monthly TopUps
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    Frw {{ transactions.monthly_sum|floatformat:0|intcomma }}</div>
                                <div class="mt-2 mb-0 text-muted text-xs">
                                <span class="text-warning mr-2">Wallet: Frw {{ profile.wallet_balance|floatformat:0|intcomma }}</span>
                                    <br><span class="text-danger">Month Limit : {{ profile.allowed_expense.percentage|floatformat:2 }} % </span>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-money-bill fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-lg-8 mb-4">
            <!-- Simple Tables -->
            <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">All Top Up Transactions</h6>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th>#</th>
                            <th>On</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for t in transactions.all %}
                            <tr>

                                <td><a href="#">{{ forloop.counter }}</a></td>
                                <td class="text-truncate">{{ t.created }} <br>
                                    <span class="badge badge-success"><i
                                            class="fas fa-plus-circle"></i> Frw {{ t.amount }}</span>
                                </td>
                                <td>
                                    <a href="#" class="btn btn-sm btn-success"><i
                                            class="fas fa-check-circle"></i></a>
                                    <a href="#" class="btn btn-sm btn-info"><i class="fas fa-edit"></i></a>
                                    <a href="#" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>


    </div>


{% endblock content %}

